@using OnlineLibary.Domain.Enums
@using OnlineLibary.Managers.Managers
@using OnlineLibary.Web.Helpers
@inject UserCustomManager UserManager
@{
    var isUserLogin = User.Identity.IsAuthenticated;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OnlineLibary.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-toggleable-md navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="@PagesList.Index">OnlineLibary</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-md-inline-flex justify-content-between">
                    <div class="d-flex flex-column flex-md-row">
                        <a class="text-dark nav-link my-2" asp-area="" asp-page="@PagesList.BooksList">Books</a>
                        <a class="text-dark nav-link my-2" asp-area="" asp-page="@PagesList.Privacy">Privacy</a>
                        @if (User.HasAnyRole(UserRoleType.GlobalAdmin))
                        {
                            <a class="text-dark nav-link my-2" asp-area="" asp-page="@PagesList.AccountUsers">User Management</a>
                        }
                    </div>
                    <div class="d-flex flex-column ms-auto flex-md-row">
                        @{
                            if (!isUserLogin)
                            {
                                <a class="btn btn-primary my-2" asp-area="" asp-page="@PagesList.AccountLogin">Login</a>
                                <a class="btn btn-dark ms-2 my-2" asp-area="" asp-page="@PagesList.AccountRegister">Register</a>
                            }
                            else
                            {
                                <a class="text-dark my-auto nav-link my-2" asp-area="" asp-page="@PagesList.AccountProfile">@UserManager.GetUserFirstAndLastName()</a>
                                <a class="btn btn-dark my-2" asp-area="" asp-page="@PagesList.AccountLogout">Logout</a>
                            }
                        }
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - OnlineLibary.Web - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>