@page
@using OnlineLibary.Domain.Enums
@using OnlineLibary.Web.Helpers
@using OnlineLibary.Web.Pages.Models
@model OnlineLibary.Web.Pages.Books.Partials.ChapterModel
@{
    var isEditor = User.HasAnyRole(UserRoleType.Editor);
    ViewData["Title"] = "View Chapter";
}

@if (isEditor)
{
    <a href="@Url.Page(PagesList.BooksEditChapter, new { bookId = Model.Display.BookId, id = Model.Display.Id})" class="btn btn-dark my-2"> Edit chapter </a>
}

<div class="h2">
    Chapter @Model.Display.Number@(string.IsNullOrEmpty(Model.Display.Title) ? "" : ": " + Model.Display.Title)
</div>
<div class="text-center">
    @if (!string.IsNullOrEmpty(Model.Display.ImageUrl))
    {
        <img class="mb-3 img-fluid object-fit-cover" src="@Url.Content(Model.Display.ImageUrl)" />
    }
</div>

<div class="my-2">
    @Html.Raw(Model.Display.Content)
</div>

<partial name="@PagesList.Books_ChapterNavigation" model="new ChapterNavigationModel(Model.Display.BookId, Model.Display.PreviousId, Model.Display.NextId)" />
