@page
@using OnlineLibary.Domain.Enums
@using OnlineLibary.Web.Helpers
@model OnlineLibary.Web.Pages.Books.Partials.EditBookModel
@{
    var isEditor = User.HasAnyRole(UserRoleType.Editor);
    ViewData["Title"] = "View book";
}

<div class="row">
    <div class="col-12 col-md-6 text-center">
        <img class="mb-3 h-350px rounded mx-auto " src="@(string.IsNullOrEmpty(Model.Input.CoverUrl) ? Url.Content("/img/default-cover.jpg")
                : Url.Content(Model.Input.CoverUrl))" />
    </div>
    <div class="col-12 col-md-6">
        <div class="h2">
            @Model.Input.Title
        </div>
        <div class="h4">
            @Model.Input.Author (@Model.Input.Year)
        </div>
        @if (Model.Input.CurrentChapterId.HasValue && User.HasAnyRole(UserRoleType.Reader))
        {
            <a href="@Url.Page(PagesList.BooksChapter, new { bookId = Model.Input.Id, id = Model.Input.CurrentChapterId})" class="btn btn-warning">
                Continue reading
            </a>
        }
        @if (Model.Input.CurrentChapterId.HasValue && User.HasAnyRole(UserRoleType.Editor))
        {
            <a href="@Url.Page(PagesList.BooksEditDetails, new { id = Model.Input.Id })" class="btn btn-outline-dark">
                Edit book details
            </a>
        }
        <div class="my-2">
            @Model.Input.Description
        </div>
    </div>
</div>

<div class="card">
    <ul class="list-group list-group-flush">
        @foreach (var item in Model.Chapters)
        {
            <li class="list-group-item">
                <div>
                    <a href="@Url.Page(PagesList.BooksChapter, new {bookId = Model.Input.Id, id = item.Id})" class="stretched-link text-decoration-none">Chapter @item.Number: @item.Title</a>
                </div>
            </li>
        }
    </ul>
</div>

